/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bs-primary: #EA001E;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Util */
.padding {
    padding: 1rem 8rem;
}

.text-center {
    text-align: center;
}

/* Style */
body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.3;
}

/* section {
    height: 90vh;
    margin-bottom: 5rem;
} */

h2 span {
    color: var(--bs-primary);
}

p,
section.footer.padding > div > nav > ul > li > a,
#root > section.footer.padding > div > ul
 {
    color: #6e7684;
    margin-bottom: 1rem;
    line-height: 1.6;
}

h2, h3 {
    margin-bottom: 1rem;
}

section > h2,
section > div > h2
 {
    font-size: 3rem;
}

header button {
    background-color: var(--bs-primary);
    color: white;
    border-radius: 50px;
    padding: 0.7rem 1.5rem;
    font-weight: bold;
    border: 0;
    font-size: 1rem;
}

header h1 {
    font-size: 2rem;
}

.carousel-item img{
    width: 100%;
}

.carousel-indicators {
    gap: 1rem;
    align-items: center;
}
.carousel-indicators button{
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 100%;
    border: 0;
}
.carousel-indicators button.active{
    border: 5px solid red;
}
.carousel-caption {
    left: 1%;
    right: 1%
}
.carousel.slide a {
    display: none;
}

.carousel img {
    filter: brightness(0.5);
}

section.home {
    color: #fff !important;
    padding-bottom: 4rem;
}

section.home form {
    background-color: #1f2e4e !important;
    border-radius: 15px;
    padding: 1rem 3rem;
}

section.home form > div {
    margin-bottom: 0.5rem;
    padding: 0.2rem 1rem;
}

section.home form > div > .date-timestamp {
    margin-left: 1rem;
}

section.home form select,
section.home form input,
section.home form label,
section.home form button {
    padding: 0.5rem 0.5rem;
    border: 1px solid lightgray;
    margin: 0;
}

section.home form select, 
section.home form button {
    border-radius: 5px;
}

section.home form button {
    color: red;
    font-weight: 700;
}

section.home form label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

section.home form input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

section.home form input[type="date"] {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

section.home form label {
    background-color: #f2f2f2 !important;
    color: #6e7684 !important;
}

section.home > div h2 {
    font-size: 3rem;
}

section.feature
{
    background-color: #F2F2F2;
}

section.client-review {
    background-color: lightgrey;
}

section.feature > p {
    padding-left: 10rem;
    padding-right: 10rem;
}

section.client-metric {
    background: linear-gradient(rgba(0, 12, 33, 0.9), rgba(31, 46, 78, 0.9)), url('https://themewagon.github.io/Cental/img/fact-bg.jpg');
    color: #fff !important;
    font-size: 1.5rem;
    text-align: center;
    padding: 3rem;
}

section.client-metric p {
    color: #fff !important;
}

section.services .card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    padding: 1rem 3rem;
}

section.central-support.padding.text-center > div > div{
    padding: 1rem;
    background-color: #F2F2F2;
    border-radius: 15px;
}

section.central-support > div > div img {
    width: 100%;
    border-radius: 15px;
}

section.central-support h3 {
    font-size: 2rem;
    font-weight: lighter;
}

section.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section.footer li {
    margin-bottom: 1rem;
}

section.footer, footer{
    background-color: #000C21;
    color: white;
}

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

section.footer form input {
    padding: 1rem;
    border-radius: 50px;
    border: 0;
}

section.footer form button {
    padding: 0.5rem;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
    font-weight: 600;
    border: 1px solid white;
}

section.client-review img {
    border-radius: 100%;
}

section.client-review .card {
    border: 1.3px solid #1F2E4E;
    border-radius: 1rem;
}

section.client-review .card > div:nth-child(1) {
    background-color: #F2F2F2;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

section.client-review .card > div {
    padding: 1rem;
}

section.about .cards .card {
    padding: 1rem;
    background-color: #F2F2F2;
    border: 1px solid #dee2e6 !important;
    border-radius: 15px;
}

section.about .notes {
    border-left: 5px solid #1F2E4E;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 0 1rem;
}

section.about .experience {
    background-color: #1F2E4E;
    border-radius: 15px;
    color: white;
}

section.about .experience span:nth-child(1) {
    font-size: 2rem;
}

section.about li {
    margin-bottom: 0.5rem;
}

section.about .side-by-side {
    margin-bottom: 1rem;
}

section.about .side-by-side button {
    padding: 2rem 3rem;
    border-radius: 15px;
    background-color: red;
    border: 0;
    color: white;
    font-size: 1.2rem;
}

section.about .side-by-side > div:nth-child(2) img {
    border-radius: 100%;
}

.slick-slide {
    margin: 0 10px;
}

header ul {
    margin: 0;
}

.mobile-banner {
    background-image: url('https://themewagon.github.io/Cental/img/carousel-1.jpg');
}

section.home.padding.mobile-banner
{
    display: none;
}

/* Layout */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

header ul {
    display: flex;
    gap: 2rem;
}


section.home,
section.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

section.feature .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

section.feature .cards div:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

section.client-metric .cards {
    display: flex;
    justify-content: space-evenly;
}

section.services .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

section.central-support .cards
/* ,section.client-review .cards  */
{
    display: flex;
    gap: 1rem;
}

section.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

header div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--bs-primary);
}

section.home form {
    display: flex;
    flex-direction: column;
}

section.home form > div {
    display: flex;
}

section.home form > div > input,
section.home form > div > select,
section.home form > div > button {
    flex: 1;
}

section.footer form {
    display: flex;
    gap: 0.5rem;
}

/* section.client-review .card {
    display: flex;
    flex-direction: column;
} */

section.client-metric .card {
    background-color: unset;
}

section.feature .card {
    background-color: unset;
    border: unset;
}

section.client-review .slick-track {
    display: flex;
    align-items: center;
}

section.client-review button {
    /* background-color: black; */
    padding: 1rem;
}

section.client-review .card > div:nth-child(1) {
    display: flex;
    gap: 1rem;
    align-items: center;
}

section.about .cards {
    display: flex;
    gap: 1rem;
}

section.about .side-by-side {
    display: flex;
    gap: 1rem;
}

section .side-by-side > * {
    flex: 1;
}

section.about .experience {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.about .experience h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

section.about .side-by-side div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.about .side-by-side > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.slick-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-navbar {
    display: none;
}

@media screen and (width= 768px) {
    section.home.padding.mobile-banner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div.carousel.slide
    {
        display: none;
    }

    .padding 
    ,section.feature > p{
        padding: 1rem 1rem;
    }

    section.feature .cards {
        display: flex;
        flex-direction: column;
    }

    section.feature .cards .card:nth-child(1) {
        order: 3;
    }
    section.feature .cards .card:nth-child(2) {
        order: 1;
    }
    section.feature .cards .card:nth-child(3) {
        order: 2;
    }
    section.feature .cards .card:nth-child(4) {
        order: 4;
    }
    section.feature .cards .card:nth-child(5) {
        order: 5;
    }

    section.about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.services .cards
    ,section.central-support .cards
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
    }

    section.footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
    }

    section.home > div {
        display: none;
    }
}

@media screen and (width < 768px) {
    section.home.padding.mobile-banner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section.home.padding.mobile-banner form {
        padding: unset;
    }
    section.home.padding.mobile-banner form input 
    ,section.home.padding.mobile-banner form select
    ,section.home.padding.mobile-banner form label
    {
        padding: unset;
    }
    div.carousel.slide
    {
        display: none;
    }

    .desktop-navbar 
    ,header > button
    {
        display: none;
    }
    .mobile-navbar {
        display: initial;
        justify-self: end;
    }
    header ul {
        display: flex;
        flex-direction: column;
    }
    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, fr);
        justify-content: space-between;
    }

    
    .padding
    ,section.feature > p {
        padding: 0.5rem;
    }

    section.feature .cards {
        display: flex;
        flex-direction: column;
    }

    section.feature .cards .card:nth-child(1) {
        order: 3;
    }
    section.feature .cards .card:nth-child(2) {
        order: 1;
    }
    section.feature .cards .card:nth-child(3) {
        order: 2;
    }
    section.feature .cards .card:nth-child(4) {
        order: 4;
    }
    section.feature .cards .card:nth-child(5) {
        order: 5;
    }

    section.about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section.services .cards
    ,section.central-support .cards
    ,section.client-metric .cards
    ,section.about .cards
    ,section.about .side-by-side
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
    }

    section.footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
    }


    section.home > div {
        display: none;
    }

    section.about img {
        width: 100%;
    }
}